<div class="container">
  <div class="row">
    <div class="d-flex flex-column mb-3 p-5">
      <img src="https://m.media-amazon.com/images/I/418Jmnejj8L._AC_.jpg" alt="">
      <div class="error-msg">
        <h3 class="text-center">{{ errorMsg }}</h3>
        <h6 class="text-center">{{ errorUrl }}</h6>
      </div>
    </div>
  </div>
</div>