<div class="container">
  <div class="row">
    <div class="d-flex flex-column mb-3 p-5">
      <h1 class="text-center">URL SHORTENER</h1>
    </div>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="mx-auto justify-content-center" style="width: 200px" alt="">

    <form>
      <div class="mb-3 p-5">
        <p class="fs-4">Success! Please use this link: </p>

      </div>
      <div class="d-grid gap-2 col-2 mx-auto">
        <button type="button" class="btn btn-primary">Copy</button>
      </div>
    </form>


  </div>
</div>